/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=15997'); */
@font-face {
    font-family: helvetica-neue-bold;
    src: url(../public/helvetica-neue/HelveticaNeueBold.ttf);
}

@font-face {
    font-family: helvetica-neue-reg;
    src: url(../public/helvetica-neue/HelveticaNeue-Roman.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica-neue-bold;
}

.App {
    height: 100%;
    width: 100%;
}